@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dancing Script', cursive;
  background-color: rgb(182, 201, 210);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
